# Konfigurasi Database PostgreSQL
DATABASE_URL="postgresql://k12_admin:PasswordK12Aman2026!@localhost:5432/siakad_db?schema=public"

# Konfigurasi Keycloak SSO (On-Premise / Docker)
KEYCLOAK_BASE_URL="http://localhost:8080/auth"
KEYCLOAK_REALM="k12-portal"
KEYCLOAK_CLIENT_ID="k12-web-portal"
KEYCLOAK_CLIENT_SECRET=""

# Konfigurasi NextAuth / Auth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ganti_dengan_random_secret_string_32_karakter"

# Konfigurasi Redis (Worker Antrean WA)
REDIS_HOST="localhost"
REDIS_PORT=6379
